@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'tailwindcss';

@source "../views/**/*.blade.php";
@source "../../app/View/Components/**/*.php"; 

@theme {
  /* Customize theme tokens like colors or fonts here if needed */
}

/* Your custom CSS goes here */
a[aria-disabled="true"] {
  color: rgb(160, 217, 255);
  pointer-events: none; /* Disables mouse clicks */
  cursor: not-allowed;
}